<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="container-fluid">
<!--   <h1 align="center">Listing users</h1>
 -->
    <% @users.each do |users| %>
      <div class="col-sm"><a href="#"><h1><%= users.name%></h1></a>
          <%= image_tag(users.image_url, class: "img-fluid")unless users.image_url.nil? %>
          <p><%= users.description%></p>

          <strong>$ 42</strong>
      </div><!-- /col -->
    <% end %>    
</div>


<br>

<%= link_to 'New User', new_user_path %>




